version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./weights:/app/weights
      - parking_data:/app/data
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    volumes:
      - ./images:/app/images
    depends_on:
      - backend
    restart: always

volumes:
  parking_data:
